<% layout('layouts/boilerplate') %>
<div style="display: flex; align-items: center; margin-top: 20px">
  <input type="text" class="search-bar" placeholder="SEARCH IT !!" />
  <button class="btn btn-primary search-btn">
    <img src="https://img.icons8.com/ios/20/000000/search--v1.png" />
  </button>
  <button
    class="btn btn-primary card-btn"
    onclick="document.getElementById('add-card').style.display='block'"
  >
    Add
  </button>
</div>

<!-- add card for popup -->

<div id="add-card" class="modal">
  <form
    action="/warrantys"
    method="POST"
    class="needs-validation modal-content animate"
    novalidate
  >
    <div class="imgcontainer">
      <h3>Add Your Warranty Card Details here</h3>
      <span
        onclick="document.getElementById('add-card').style.display='none'"
        class="close"
        >&times;</span
      >
    </div>
    <div class="form-group row">
      <label for="company" class="col-sm-2 col-form-label">Company Name </label>
      <div class="col-sm-10">
        <input
          type="text"
          name="warranty[company]"
          class="form-control col-sm-10 bottom-border p-3 mb-2 bg-none"
          id="company"
          required
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="product" class="col-sm-2 col-form-label">Product</label>
      <div class="col-sm-10">
        <input
          type="text"
          name="warranty[product]"
          class="form-control col-sm-10 bottom-border p-3 mb-2 bg-none"
          id="product"
          required
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="purchase" class="col-sm-2 col-form-label"
        >Date Of Purchase</label
      >

      <div class="col-sm-10">
        <input
          type="date"
          name="warranty[purchase]"
          class="form-control col-sm-10 bottom-border p-3 mb-2 bg-none"
          id="purchase"
          required
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="period" class="col-sm-2 col-form-label"
        >Warranty Period (Months)</label
      >
      <div class="col-sm-10">
        <input
          type="number"
          name="warranty[period]"
          class="form-control col-sm-10 bottom-border p-3 mb-2 bg-none"
          id="period"
          required
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label"
        >Product Description</label
      >
      <div class="col-sm-10">
        <textarea
          name="warranty[description]"
          id="description"
          cols="10"
          rows="5"
          class="form-control col-sm-10 bottom-border p-3 mb-2 bg-none"
          required
        ></textarea>
      </div>
    </div>
    <div class="form-group row text-center">
      <div class="col-10 col-sm-10 col-md-12 col-lg-12 mx-auto">
        <a href="#" class="text-light">
          <button
            type="submit"
            class="btn card-btn"
            style="width: 150px !important"
          >
            Add the Card
          </button>
        </a>
      </div>
    </div>
  </form>
</div>

<div class="row" style="padding-right: 12px">
  <%for(let warranty of warrantys) {%>
  <div class="col-12 col-md-6 col-xl-4" style="padding: 2px">
    <a href="warrantys/<%=warranty._id%>"
      ><div class="cards">
        <h2 style="color: black; font-size: 2.3rem">
          <%=warranty.company%> <br />
        </h2>
        <%=warranty.product%> <br />
        <div class="row">
          <div class="col-6">
            <b>Date of Purchase : </b><%=warranty.purchase%><br />
          </div>
          <div class="col-6">
            <b>Date of Expiry : </b><%=warranty.expiry%><br />
          </div>
        </div>
      </div>
    </a>
  </div>
  <%}%>
</div>
