<% layout('layouts/boilerplate') %>
<div class="main-container">
  <div class="show-page-container">
    <h1 class="Company-name"><%=warranty.company%></h1>
    <div class="show-page-content">
      <!-- <p style="font-size: 32px;"><b style="color: rgb(252,211,77);">Company : </b><%=warranty.company%><br/></p> -->
      <p>
        <b style="color: rgb(252, 211, 77)">Product : </b><%=warranty.product%>
        <br />
      </p>
      <p>
        <b style="color: rgb(252, 211, 77)">Months of Warranty : </b
        ><%=warranty.period%> <br />
      </p>
      <p>
        <b style="color: rgb(252, 211, 77)">Date of Purchase : </b><%=purchase%>
        <br />
      </p>
      <p style="color: rgb(247, 56, 56)">
        <b style="color: rgb(252, 211, 77)">Date of Expiry : </b>
        <b><%= expiry %></b> <br />
      </p>
      <p>
        <b style="color: rgb(252, 211, 77)">Product Description : </b
        ><%=warranty.description%> <br />
      </p>
    </div>
    <div class="show-page-btn-container">
      <a href="/warrantys/<%=warranty._id%>/edit"
        ><button class="btn show-page-btn show-page-edit-btn">Edit</button></a
      >
      <form action="/warrantys/<%=warranty._id%>/?_method=DELETE" method="POST">
        <button class="btn show-page-btn show-page-delete-btn">DELETE</button>
      </form>
    </div>
    <a href="/warrantys"
      ><button
        class="btn btn-success show-page-go-back-btn"
        style="border-radius: 20px; min-width: 10rem"
      >
        Go Back
      </button></a
    >
  </div>
</div>
